<div class="container">
    <p class="text-muted"><center>Automatic Packaging Release System (v2.0.0) © Copyright NEXSTREAMING Corp.(http://www.nexstreaming.com). All rights reserved.</center></p>
</div>